<?xml version="1.0"?>
<launch>
    <arg name="target_frame" default="estimated_tf"/>
    <arg name="tf_z" default="0.18"/>
    
    <node pkg="moveit" type="arm_move_main_85" name="arm_move_main_85" output="screen">
        <param name="target_frame" value="$(arg target_frame)"/>
        <param name="tf_z" value="$(arg tf_z)"/>
    </node>
    <node pkg="moveit" type="tf_subscriber" name="tf_subscriber" />
</launch>